.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  width: 10%;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.home-background {
  position: absolute;
  background-image: url("src/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50%;
  width: 100%;
  margin-top: -25px;
}
