
  <div style="position:relative; margin-left:10%; width: 50%; text-align: center; margin-left: 30% ">
    <h1>Register</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="repeatpassword">Repeat Password</label>
      <input type="password" formControlName="repeatpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repeatpassword.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.repeatpassword.errors.required">Repeat password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
      </button>
      <a routerLink="/login" class="btn btn-link">Login</a>
    </div>
  </form>-->

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Repeat password</mat-label>
          <input matInput type="password" formControlName="repeatpassword" [ngClass]="{ 'is-invalid': submitted && f.repeatpassword.errors }">
        </mat-form-field>
        <br>

      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Registerdas
        </button>
        <a routerLink="/login" class="btn btn-link">Login</a>
      </div>
    </form>
  </div>
